<%= form_with(model: pokemon, local: true) do |form| %>
  <% if pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
        <% pokemon.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :nom %>
    <%= form.number_field :nom %>
  </div>

  <div class="field">
    <%= form.label :type1 %>
    <%= form.text_field :type1 %>
  </div>

  <div class="field">
    <%= form.label :type2 %>
    <%= form.text_field :type2 %>
  </div>

  <div class="field">
    <%= form.label :hei %>
    <%= form.number_field :hei %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
