<h1>ポケモン第一世代</h1>

<%= search_form_for @p do |f| %>
  <%= f.label :nom_or_name, "番号またはポケモン名" %>
  <%= f.search_field :nom_or_name_cont %>
  
  <%= f.label :hei, "たかさ" %>
  <%= f.number_field :hei_gteq %>以上～
  <%= f.number_field :hei_lt %>未満
  
  <%= f.label :weight, "おもさ" %>
  <%= f.number_field :weight_gteq %>以上～
  <%= f.number_field :weight_lt %>未満
  
  <%= f.label :type1, "タイプ1" %>
  <%= f.select :type1, [["ノーマル","ノーマル"], ["ほのお","ほのお"], ["みず","みず"], ["でんき","でんき"], ["くさ","くさ"], ["こおり","こおり"],
                      ["どく","どく"], ["じめん","じめん"], ["ひこう","ひこう"], ["エスパー","エスパー"], ["むし","むし"], ["いわ","いわ"],
                      ["ゴースト","ゴースト"], ["かくとう","かくとう"]] %>
                      
  <%= f.label :type2, "タイプ2" %>
  <%= f.select :type2, [["なし","-"], ["ノーマル","ノーマル"], ["ほのお","ほのお"], ["みず","みず"], ["でんき","でんき"], ["くさ","くさ"], ["こおり","こおり"],
                      ["どく","どく"], ["じめん","じめん"], ["ひこう","ひこう"], ["エスパー","エスパー"], ["むし","むし"], ["いわ","いわ"],
                      ["ゴースト","ゴースト"], ["かくとう","かくとう"]] %>
                      
  <%= f.submit "検索" %>
<% end %>


<br>
<table>
  <thead>
    <tr>
      <th><%= sort_link(@p, :nom, "番号") %></th>
      <th><%= sort_link(@p, :name, "名前") %></th>
      <th><%= sort_link(@p, :type1, "タイプ1") %></th>
      <th><%= sort_link(@p, :type2, "タイプ2") %></th>
      <th><%= sort_link(@p, :hei, "たかさ") %></th>
      <th><%= sort_link(@p, :weight, "おもさ") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.nom %></td>
        <td><%= pokemon.type1 %></td>
        <td><%= pokemon.type2 %></td>
        <td><%= pokemon.hei %></td>
        <td><%= pokemon.weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>